<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IAuthorWcfService" />
        <binding name="BasicHttpBinding_IBookWcfService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/BooksWcfServices/AuthorWcfService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAuthorWcfService"
        contract="AuthorWcfService.IAuthorWcfService" name="BasicHttpBinding_IAuthorWcfService" />
      <endpoint address="http://localhost/BooksWcfServices/BookWcfService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBookWcfService"
        contract="BookWcfService.IBookWcfService" name="BasicHttpBinding_IBookWcfService" />
    </client>
  </system.serviceModel>
</configuration>