<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <publishUrl>C:\inetpub\wwwroot\BooksWcfServices</publishUrl>
    <DeleteExistingFiles>True</DeleteExistingFiles>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)selfeducationentities-Web.config Connection String">
      <ParameterValue>metadata=res://*/booksmodel.csdl|res://*/booksmodel.ssdl|res://*/booksmodel.msl;provider=system.data.sqlclient;provider connection string="Data Source=cms_sqlsrv2012\dev;Initial Catalog=selfeducation;Persist Security Info=True;User ID=aGSAlogin2011;Password=Agemni_18;MultipleActiveResultSets=True;Application Name=entityframework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>