<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <httpRuntime targetFramework="4.5" />
    <compilation debug="true" targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IAuthorWcfService" />
        <binding name="BasicHttpBinding_IBookWcfService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/BooksWcfServices/AuthorWcfService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAuthorWcfService"
        contract="AuthorWcfService.IAuthorWcfService" name="BasicHttpBinding_IAuthorWcfService" />
      <endpoint address="http://localhost/BooksWcfServices/BookWcfService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBookWcfService"
        contract="BookWcfService.IBookWcfService" name="BasicHttpBinding_IBookWcfService" />
    </client>
  </system.serviceModel>
</configuration>