/* The Books page  */
.BooksTable {
    border-width: 1pt;
    width: 100%;
}

.BooksTable button {
    width: 100%;
}

.BooksTable tbody tr th {
    text-align: center;
    font-weight: normal;
}

.BooksTable thead tr th:first-child {
    width: 6%;
}

.BooksTable thead tr th {
    width: 44%;
}

.BooksTable thead tr:first-child {
    background-color:#b0c4de;
}

.BooksTable tbody tr {
    background-color:#f0f0f0;
}

/* The Author page  */

#Author {
    width: 50%;
    display: none;
}

/* The Book page  */

#Book {
    width: 50%;
    display: none;
}