/* --- Common --- */

body {
    font-family: Calibri;
    font-size: 14pt;
}

button {
    width: 100%;
}

/*#Book, #Author input, select {
    width: 30%;
}*/

/* --- Specific --- */

/* The Books page  */
.BooksTable {
    border-width: 1pt;
    width: 100%;
}

.BooksTable tbody tr th {
    text-align: center;
    font-weight: normal;
}

.BooksTable thead tr th:first-child {
    width: 6%;
}

.BooksTable thead tr th {
    width: 44%;
}

.BooksTable thead tr:first-child {
    background-color:#b0c4de;
}

.BooksTable tbody tr {
    background-color:#f0f0f0;
}

/* The Author page  */
.AuthorTable{
    background-color: #b0c4de;
    width: 30%;
}

.AuthorTable tbody tr td:first-child {
    width: 30%;
}

.AuthorTable tbody tr td:nth-child(2){
    text-align:left;
}

/* The Book page  */

.BookTable {
    background-color: #b0c4de;
    width: 40%;
}

.BookTable tr td:first-child {
    width: 15%;
}

.BookTable tr td:nth-child(2){
    text-align:left;
}