@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Books";
}

<div style="text-align: center;">
    <img data-errormessage="@Model.Exception.Message" src="~/Content/ErrorGlobal.jpg" />
</div>

