@model IEnumerable<Books.ViewModel.BookViewModel>

@{
    ViewBag.Title = "Books";
    Layout = "~/Views/_BaseLayout.cshtml";
}

<div id="container">
    <div role="main">
        <div role="main">
            <div id="bookLayer" style="display: none;">
                <form>
                    <fieldset>
                        <legend>Book</legend>

                        <div class="form-group">
                            <input name="BookId" id="BookId" type="hidden" value="" data-val-required="The BookId field is required." data-val-number="The field BookId must be a number." data-val="true">
                            <span class="field-validation-valid" data-valmsg-replace="true" data-valmsg-for="BookId"></span>
                        </div>

                        <div class="form-group">
                            <label for="BookName">BookName</label>:
                            <input name="BookName" class="form-control" id="BookName" type="text" placeholder="Please, enter a book name" value="" data-val-required="The BookName field is required." data-val="true">
                            <span class="field-validation-valid" data-valmsg-replace="true" data-valmsg-for="BookName"></span>
                        </div>

                        <div class="form-group">
                            <label for="Authors">Authors</label>:
                            <select name="SelectedAuthors" class="form-control" id="SelectedAuthors" size="3" multiple="multiple">
                                <option value="2">Matthew MacDonald</option>
                            </select>
                            <span class="field-validation-valid" data-valmsg-replace="true" data-valmsg-for="Authors"></span>
                        </div>

                        <p>
                            <button class="btn btn-info btn-md" type="submit">
                                <span class="glyphicon glyphicon-floppy-saved"></span>&nbsp;&nbsp;&nbsp;Save
                            </button>
                            <button class="btn btn-info btn-md" id="btnCancelBook" type="button">
                                <span class="glyphicon glyphicon-floppy-remove"></span>&nbsp;&nbsp;&nbsp;Cancel
                            </button>
                        </p>
                    </fieldset>
                </form>
                <script type="text/javascript">
                    $(document).ready(function () {
                        initializeBook();
                    });
                </script>
            </div>

            <div id="BooksLayer">
                <table class="BooksTable table table-bordered table-hover table-condensed">
                    <thead>
                        <tr>
                            <th class="text-center lead">#</th>
                            <th class="text-center lead">Book Name</th>
                            <th class="text-center lead">Authors</th>
                            <th class="text-center lead">Operations</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <th>
                            </th>
                            <td>
                            </td>
                            <td>
                                <a class="btn btn-link" id="aEditAuthor" href="#" data-authorid="5">Phil Haack</a>
                            </td>
                            <td>
                                <button title="Click the button to edit the book" class="btn btn-primary btn-sm" id="btnEditBook" type="button" data-bookid="1">
                                    <span class="glyphicon glyphicon-edit"></span>&nbsp;&nbsp;&nbsp;Edit
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <th>
                            </th>
                            <td>
                            </td>
                            <td>
                                <a class="btn btn-link" id="aEditAuthor" href="#" data-authorid="1">Adam Freeman</a>
                            </td>
                            <td>
                                <button title="Click the button to edit the book" class="btn btn-primary btn-sm" id="btnEditBook" type="button" data-bookid="2">
                                    <span class="glyphicon glyphicon-edit"></span>&nbsp;&nbsp;&nbsp;Edit
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                3
                            </th>
                            <td>
                                Professional ASP.NET MVC 3
                            </td>
                            <td>
                                <a class="btn btn-link" id="aEditAuthor" href="#" data-authorid="5">Phil Haack</a>
                            </td>
                            <td>
                                <button title="Click the button to edit the book" class="btn btn-primary btn-sm" id="btnEditBook" type="button" data-bookid="3">
                                    <span class="glyphicon glyphicon-edit"></span>&nbsp;&nbsp;&nbsp;Edit
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                30
                            </th>
                            <td>
                                TestBook
                            </td>
                            <td>
                                <a class="btn btn-link" id="aEditAuthor" href="#" data-authorid="1">Adam Freeman</a>
                            </td>
                            <td>
                                <button title="Click the button to edit the book" class="btn btn-primary btn-sm" id="btnEditBook" type="button" data-bookid="30">
                                    <span class="glyphicon glyphicon-edit"></span>&nbsp;&nbsp;&nbsp;Edit
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                35
                            </th>
                            <td>
                                TestBook2
                            </td>
                            <td>
                                <a class="btn btn-link" id="aEditAuthor" href="#" data-authorid="1">Adam Freeman</a>
                            </td>
                            <td>
                                <button title="Click the button to edit the book" class="btn btn-primary btn-sm" id="btnEditBook" type="button" data-bookid="35">
                                    <span class="glyphicon glyphicon-edit"></span>&nbsp;&nbsp;&nbsp;Edit
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                36
                            </th>
                            <td>
                                TestBook3
                            </td>
                            <td>
                                <a class="btn btn-link" id="aEditAuthor" href="#" data-authorid="36">TestAuthor2</a>
                            </td>
                            <td>
                                <button title="Click the button to edit the book" class="btn btn-primary btn-sm" id="btnEditBook" type="button" data-bookid="36">
                                    <span class="glyphicon glyphicon-edit"></span>&nbsp;&nbsp;&nbsp;Edit
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                37
                            </th>
                            <td>
                                TestBook4
                            </td>
                            <td>
                                <a class="btn btn-link" id="aEditAuthor" href="#" data-authorid="35">TestAuthor5</a>
                            </td>
                            <td>
                                <button title="Click the button to edit the book" class="btn btn-primary btn-sm" id="btnEditBook" type="button" data-bookid="37">
                                    <span class="glyphicon glyphicon-edit"></span>&nbsp;&nbsp;&nbsp;Edit
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div id="authorLayer" style="display: block;">
                <form action="/Author/Edit/35" method="post">
                    <input name="__RequestVerificationToken" type="hidden" value="MAuBXoOOgDKXo7VFclfb9wwKnsr1A7J5043EB8soJyRPuW1-WF7aX2nGXRFqHti50cTztrYEswRcqSKCCgSUizxW5VhfB7A5gDvTr1FwQsA1">    <fieldset>
                        <legend>Author</legend>

                        <div class="form-group">
                            <input name="AuthorId" id="AuthorId" type="hidden" value="35" data-val-required="The AuthorId field is required." data-val-number="The field AuthorId must be a number." data-val="true">
                            <span class="field-validation-valid" data-valmsg-replace="true" data-valmsg-for="AuthorId"></span>
                        </div>

                        <div class="form-group">
                            <label for="AuthorName">AuthorName</label>
                            <input name="AuthorName" class="form-control" id="AuthorName" type="text" placeholder="Please, enter an author name" value="" data-val-required="The AuthorName field is required." data-val="true">
                            <span class="field-validation-valid" data-valmsg-replace="true" data-valmsg-for="AuthorName"></span>
                        </div>

                        <div class="form-group">
                            <label for="Books">Books</label>
                            <input name="Books" class="form-control" id="Books" type="text" readonly="readonly" value="">
                            <span class="field-validation-valid" data-valmsg-replace="true" data-valmsg-for="Books"></span>
                        </div>

                        <p>
                            <button class="btn btn-info btn-md" id="btnSubmitAuthor" type="button">
                                <span class="glyphicon glyphicon-floppy-saved"></span>&nbsp;&nbsp;&nbsp;Save
                            </button>
                            <button class="btn btn-info btn-md" id="btnCancelAuthor" type="button">
                                <span class="glyphicon glyphicon-floppy-remove"></span>&nbsp;&nbsp;&nbsp;Cancel
                            </button>
                        </p>
                    </fieldset>
                </form>
                <script type="text/javascript">
                    $(document).ready(function () {
                        initializeAuthor();
                    });
                </script>
            </div>

            <p class="btn-group">
                <button class="btn btn-primary" id="btnCreateBook">
                    <span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;&nbsp;Add book
                </button>
                <button class="btn btn-primary" id="btnCreateAuthor">
                    <span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;&nbsp;Add author
                </button>
            </p>
        </div>
    </div>
</div>
<script type="text/javascript">
        $(document).ready(function () {
            initializeBooks();
        });
</script>
